# other directory files
dashboard/
geonamesExample/
img-ignore/
webalizer/
applications.html
bitnami.css
# favicon.ico
index.php
.env
.htaccess
composer.phar

# gazetteer
gazetteer/node_modules
gazetteer/.env
gazetteer/.htaccess

# lint & prettifier
companydir/.vscode/
companydir/node_modules/
companydir/eslint.config.mjs
companydir/.prettierrc
companydir/package.json
companydir/package-lock.json
companydir/db.txt
companydir/libs/php/config.php
companydir/exIndex.html
companydir/exMain.css
companydir/exMain.js
companydir/tbHTML.html
companydir/tbCSS.css
companydir/tbJS.js

node_modules/
package.json
package-lock.json
.prettierrc
eslint.config.mjs
.vscode/

# Composer Requirements
assets/vendor/phpmailer/
assets/vendor/composer/
assets/vendor/graham-campbell/
assets/vendor/phpoption/
assets/vendor/symfony/
assets/vendor/vlucas/
assets/vendor/autoload.php

# Other projects
task/*