# other directory files
dashboard/
geonamesExample/
img/
webalizer/
applications.html
bitnami.css
favicon.ico
index.php
.env
.htaccess

# Project1
project1/node_modules
project1/.env
project1/.htaccess

project2/*
task/*
/assets/vendor/