.chart-container {
    display: block;
    margin: auto;
    max-width: 100%; /* Controls max width for responsiveness */
}

.demographics-chart {
    width: 100%;
}

.demographics-chart canvas {
    height: 100px;  
    width: 100%;
}

/* Historical Charts */
.hist-demographics-chart canvas {
  height: auto;  
  width: 100%;
}

.chart-td {
  padding: 0.1rem 0.2rem !important;
}
/* Legend styling */
.chartjs-legend {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

.chartjs-legend li {
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 10px;
    font-size: 12px;
    font-weight: bold;
}

.chartjs-legend li span {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 5px;
    border-radius: 50%;
   
}



@media (max-width: 768px) {
    .chart-container {
      height: 100px;
    }

    .chartjs-size-monitor {
      width: 100%; 
    }

    .hist-chart-container {
      height: auto;
    }
    
   
  }
  
  /* General Card Styling */
.demoHistTab .card {
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.demoHistTab .card-header {
  background-color: #f8f9fa;
  font-size: 16px;
  font-weight: bold;
}

.demoHistTab .card-body {
  padding: 0.25rem;
}

/* Tabs */
.nav-tabs {
  margin-bottom: 20px;
}

.nav-tabs .nav-link {
  font-size: 14px;
  font-weight: bold;
}

.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

/* Responsive Improvements */
@media (max-width: 768px) {
  .card-body {
      padding: 0.75rem;
  }
}

.demoHistTab h6{
  text-align: center;
}

/* Spinner Styling */
.demoHistTab .spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3e95cd;  /* Customize spinner color */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto;  /* Center the spinner */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}