html, body {
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  height: 100vh;
  position: relative

}

#selectContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
  z-index: 899; 
  padding: 0; 
  margin-top: 10px;
}

#countrySelect {
  width: 200px;
  margin: 0 auto;
}


/* Markers */

.marker-city div {
  background-color: #6d6c6c;
  color: white;
  width: 28px;
  height: 28px;
}

.marker-capital div {
  background-color: black;
  color: white;
  width: 28px;
  height: 28px;
  font-size: 0.85rem;
}

.marker-airport div {
  background-color: #78bfeb;
  color: white;
  width: 28px;
  height: 28px;
}

.marker-rstn div {
  color: white;
  background-color: #ff0000;
  font-size: 0.9rem;
  height: 28px;
  width: 28px;
}


.custom-div-icon div {
  color: white;
  font-size: 0.8rem;
  width: 28px;
  height: 28px;
}

.marker-mus div {
  color: black;
  background-color: #fff4c4;
  border: 2px solid rgb(0, 0, 0, 0.7);
  font-size: 0.86rem;
  /* font-weight: bold; */
  height: 25px;
  width: 25px;
}

.marker-htl div {
  color: black;
  background-color: #f0a7a7;
  border: 2px solid rgb(0, 0, 0, 0.7);
  font-size: 0.7rem;
  height: 25px;
  width: 25px;
}


 

.custom-cluster-icon div {
  /* background-color: #ff3131; */
  /* border: 2px solid rgb(0, 0, 0, 0.7); */
  font-weight: bold;
  font-size: 1rem;
}
