/* ------------------------------------------------------------------------------
   MAP STYLES
------------------------------------------------------------------------------ */

html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#map {
  flex-grow: 1;
  position: relative;
}

#selectContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 899;
  padding: 0;
  margin-top: 10px;
}

/* Leaflet Easy Button Styles */
.leaflet-bar .easy-button-button {
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
}

.easy-button-button span {
  font-size: 18px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin: 0;
  line-height: 1;
}

.easy-button-button {
  width: 30px;
  height: 30px;
}

.easy-button-button .bi {
  font-size: 18px;
  line-height: 1;
}

.easy-button-button .bi::before {
  line-height: 30px !important;
}

/* Leaflet Layers Control */
.leaflet-control-attribution {
  display: none !important;
}

input.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 0.12rem !important;
}

/* Marker Styles */
.custom-div-icon div {
  color: white;
  font-size: 0.8rem;
  width: 28px;
  height: 28px;
}

.custom-cluster-icon div {
  font-weight: bold;
  font-size: 1rem;
}

.marker-city div {
  background-color: #6d6c6c;
  color: white;
  width: 28px;
  height: 28px;
}

.marker-capital div {
  background-color: black;
  color: white;
  width: 28px;
  height: 28px;
  font-size: 0.85rem;
}

.marker-airport div {
  background-color: #78bfeb;
  color: white;
  width: 28px;
  height: 28px;
}

.marker-rstn div {
  color: white;
  background-color: #ff0000;
  font-size: 0.9rem;
  height: 28px;
  width: 28px;
}

.marker-mus div {
  color: black;
  background-color: #fff4c4;
  border: 2px solid rgba(0, 0, 0, 0.7);
  font-size: 0.86rem;
  height: 25px;
  width: 25px;
}

.marker-htl div {
  color: black;
  background-color: #f0a7a7;
  border: 2px solid rgba(0, 0, 0, 0.7);
  font-size: 0.7rem;
  height: 25px;
  width: 25px;
}