html, body {
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  height: calc(100vh - 50px ); 
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0px; 
  
  overflow: hidden;
  transition: top 0.35s ease ;
  z-index: 900; 
}

#selectContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
  z-index: 900; 
  padding: 0; 
  margin-top: 10px;
}

#countrySelect {
  width: 200px;
  margin: 0 auto;
}
