/* General Modal Styles */
.modal {
  align-items: center;
}

.modal-dialog {
  padding: 10rem 0rem 6rem 0rem ;
  min-width: 90%;
}

/* Ensure the header and footer are visible */
.modal-content {
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 80vh;
}

/* Make the modal body scrollable */
.modal-body {
  overflow-y: auto;
  flex: 1 1 auto; /* Allows the modal body to grow and shrink */
}

/* Optional: Adjust spacing around modals */
#currencyModal, #infoModal, #weatherModal {
  margin: 0; /* Remove margin if you want to make full use of space */
}

.modal-header, .modal-footer {
  flex: 0 0 auto; /* Keeps header and footer fixed size */
}

/* Custom Table Styling */
.table-striped {
  margin-bottom: 0.1rem;
}

.table td, .table th {
  padding: 0.6rem;
  vertical-align: middle;
}

.list-unstyled {
  padding-left: 0;
  margin-bottom: 0 !important;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .modal-dialog {
    max-width: none; /* Remove max-width for smaller screens */
  }

  .modal-body {
    padding: 0.5rem;
  }
}
#infoOverlay, #demoOverlay .overlay-header {
  padding: 4px 10px;
  background-color: #fff;
}

/* General Overlay Container Styles */
.overlay-container {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  z-index: 900;
  padding: 2px;
  margin-top: 0px;
  bottom: 10px;
  width: 96%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(244, 244, 244, 0.7);
  border-radius: 20px;
  border: 2px solid #ababab;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: height 0.3s ease;
  display: none;
}

#earthquakeOverlay {
  height: 134px;
}

#currencyOverlay {
  height: 240px;
  max-width: 500px;
}



/* Overlay Header Styles */
.overlay-header {
  display: inline-flex;
  width: 96%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
  padding: 0px 4px;
  margin-top: 0px;
  border: 1px solid #abababd0;
  background-color: #f5f5f5;
  border-radius: 20px;
}

#earthquakeHeader {
  padding: 4px 4px;
}

#currencyHeader {
  padding: 4px 16px
}

/* Close Button */
.overlay-close-btn {
  background: none;
  border: none;
  font-size: 1.8rem;
  color: rgb(83, 83, 83);
  cursor: pointer;
}

#cOverlayCloseBtn {
  padding: 0px
}

/* Title Div */
.overlay-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.overlay-title h5 {
  margin-bottom: 0px !important;
  font-size: 1.4rem;
}

.overlay-title-icon {
  font-size: 1.4rem;
  color: rgb(83, 83, 83)
}







/* Common Input Styles */
.input-field {
  width: 70%;
  margin: 4px;
  border: 2px solid lightgrey;
  border-radius: 10px;
}

/* Conversion Rate Display */
.conversion-rate {
  font-size: 1.15rem;
  font-weight: 550;
  text-align: center;
  margin-bottom: 12px;
}

/* Currency Input Group */
.currency-input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#toInputGroup {
  margin-bottom: 0px;
}

.currency-input {
  flex: 1;
  margin-left: 1%;
}

.currency-input input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 16px;
  border: 1px solid #ababab;
  box-sizing: border-box;
}

.currency-select {
  flex: 2;
  margin-right: 1%;
  margin-left: 4%;
}

.currency-select select {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 16px;
  border: 1px solid #ababab;
  box-sizing: border-box;
}

/* Hover and Focus Effects */
.currency-input input:focus,
.currency-select select:focus {
  border-color: #007bff;
  outline: none;
}

#cConverterContainer {
  height: auto;
  width: 94%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

/* Other Specific Styles */
#earthquakeRadio {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 8px;
}

#earthquakeToggleLabel {
  font-size: 1.4rem;
  margin-right: 10px;
}

#earthquakeOverlay .form-switch {
  margin-left: 0;
  padding-left: 0;
}

#eAdvanced {
  display: none; 
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  width: 90%;
}

#toggleEarthquakes {
  font-size: 1rem;
  margin-top: 1px;
  margin-left: 6px;
}

#earthquakeOverlay #search {
  width: 70%;
  margin: 4px;
  border: 2px solid lightgrey;
  border-radius: 10px;
}

#slider {
  width: 80%;
  margin: 30px 0px 6px 0px;
  background-color: #e0e0e0;
  z-index: 1000;
  padding: 0 16px;
}

#slider  .noUi-tooltip{
  display: none;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

#slider .noUi-active .noUi-tooltip {
  display: block;
  height: 28px;
}


/* Weather  Styles */

/* Weather Overlay */
#weatherOverlay {
  height: 190px;
  width: 96%;
}

/* Weather Header Styles */
#weatherHeader {
  background-color: #f5f5f5;
}

/* Weather Content */
.weather-content {
  display: flex;
  justify-content: space-between;
  padding: 6px 6px;
  align-items: flex-start;
  width: 98%;
  margin: 0px;

}

/* Weather Icon and Temperature */
.weather-icon-temp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}


.weather-details {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  font-size: 0.78rem;
  font-weight: bolder;
  height: 80px;
  justify-content: space-around;
  
}

.weather-details-sm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1.25;
  font-size: 0.78rem;
}

#weatherDesc {
  font-size: 0.96rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

#currentWeatherIcon {
  font-size: 3.2rem;
  align-self: center;
  width: 3.2rem;
  display: flex;
  justify-content: center;
}

#wTempContainer {
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
}

#temperature {
  align-self: center;
  font-size: 2.2rem;
}



#wAdvanced {
  display: none;
  flex-direction: column;
  width: 96%;
  background-color: #f5f5f5;
  padding: 8px 8px 6px 8px;
  border: 1px solid #00000033;
  border-radius: 20px;
}


.o-text-muted {
  color: rgba(0, 0, 0, 0.6);
}

.temp-toggle {
  display: flex;
  padding: 8px 2px 0px 6px;
  font-size: 1.05rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#tempToggleIcon {
  font-weight: 600;
  width: 1.1rem;
  cursor: pointer;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
}

#unit {
  font-size: 1.1rem;
  font-weight: 600;
}

.weather-location {
  margin-bottom: 0px;
  font-weight: 550;
  font-size: 1.1rem;
}

.weather-time-desc {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  align-items: flex-end;
  max-width: 28%;
}

/* Hourly Cards */
.hour-card {
  flex: 0 0 auto;
  border-radius: 5px;
  margin: 0 3px;
  padding: 6px 16px;
  text-align: center;
  min-width: 60px;
}

.hour-card .hour {
  font-size: 0.8rem;
  padding-bottom: 10px;
}

.hour-card .hourly-icon {
  width: 30px;
  height: 30px;
}

.hour-card .hour-temp {
  font-size: 0.8rem;
}

/* Daily Cards */
.forecast-card {
  flex: 0 0 auto;
  background-color: #eff5ffa8;
  border-radius: 10px;
  margin: 4px 2px;
  padding: 10px 18px;
  text-align: center;
  min-width: 80px;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.forecast-card .day {
  font-weight: bold;
}

.forecast-card .forecast-icon {
  width: 40px;
  height: 40px;
}

.forecast-card .temp {
  font-size: 0.9rem;
  font-weight: 500;
}

.hourly-icon,
.forecast-icon {
  font-size: 30px; /* Adjust as needed */
  color: #343434; /* Adjust icon color */
}

/* Highlight active forecast card */
.active-forecast {
  background: #d0e7ffa1; /* Light blue background */
  border: 2px solid ; /* Blue border */
}

/* Alternatively, add an underline
.active-forecast::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #5b5b5b66; 
  border-radius: 100px;
  margin-top: 5px;
} */


.hour-card, .forecast-card {
  scroll-snap-align: start;
  flex: 0 0 auto;
  margin-right: 6px;
}

/* Hourly Carousel */
.hourly-carousel, .daily-carousel {
  display: flex;
  overflow-x: auto;
  padding: 2px 0px 4px 0px;
  scroll-snap-type: x mandatory; 
  scroll-behavior: smooth;
  scroll-padding: 10px;
}



/* info overlay */

#infoOverlay {
  display: flex;
  padding: 6px 0px;
  background-color: rgba(244, 244, 244, 0.85);
}



.overlay-icon {
  font-size: 1.5rem;
}

#iOverlayCloseBtn {
  padding-right: 0px;
} 

#iOverlayCloseBtn i {
  font-size: 2rem !important;
}

.overlay-tabs {
  padding: 6px 2px;
  display: flex;
  width: 98%;
}

.o-tabs-ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.o-tabs-li {
  margin: 0px 4px;
}

.o-tabs-link {
  border: 2px solid #abababd0;
  border-radius: 20px;
  padding: 4px 20px;
  font-size: 1rem;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.82);
  background-color: #fff;
}

.tab-active {
  border: 2px solid #007bff !important;
  background-color: #ecf6ff !important;
}



.overlay-content {
  border: 1px solid #abababd0;
  border-radius: 20px;
  width: 96%;
  background-color: #fff;
}

#generalInfoContent {
  display: block;
}

.tab-content {
  display: none;
  margin: 0.8rem 0.4rem;
  border-radius: 20px;
  border: 1px solid transparent;
}

.o-info-table {
  margin: 0px; 
}

table#info-tabletwo {
  margin: 12px 0px 2px 0px;
}

.overlay-modal-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0;
  z-index: 1000;
}

#infoContainer, #demoContainer {
  display: none;
}

#eTitleDiv h5 {
  font-weight: 600;
}

#demoOverlay {
  padding: 6px 0px;
  background-color: rgba(244, 244, 244, 0.85);
  display: flex;
  max-height: 90%;
  left: 9px;
  transform: none;
}

#demographicsHeader {
  width: 96%;
  justify-content: space-between;
  padding: 2px 4px;
  margin-top: 4px;
  background-color: #f5f5f5;
  border-radius: 20px;
}

.d-tabs-link {
  border: 2px solid #abababd0;
  border-radius: 20px;
  padding: 4px 10px;
  font-size: 1rem;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.82);
  background-color: #fff;
  width: 100%;
}

#dOverlayTabs {
  margin: 2px 0px;
}

ul#demographicsTab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
}

.d-tabs-li {
    margin: 3px 2px;
    min-width: 30%;
}

.demo-subtitle {
  margin-bottom: 0px;
}

#dOverlayContent { 
  border: 1px solid #abababd0; 
  border-radius: 20px; 
  width: 96%;
  background-color: #fff;
  overflow-y: auto;
  max-height: 100%; 
  padding: 10px
}

#dOverlayContent .tab-content {
  font-weight: 500;
}

.fwbold {
  font-weight:  600 !important;
}